{% extends 'base.html' %}

{% block title %}
Card detail
{% endblock %}

{% block content %}

<h1 class="title">Card detail - {{ card.series }} {{ card.number }}</h1>

<div class="card mb-6">
    <div class="card-content">
        <div class="content">Series: {{ card.series }}<br>
            Number: {{ card.number }}<br>
            Amount: {{ card.amount }} USD<br>
            Date release: {{ card.release }}<br>
            Card used: {{ card.date_using }}<br>
            History: bought {{ card.products.count }} products<br>
            Status: {{ card.get_status_display }}<br>
        </div>
    </div>
</div>


<div class="card mb-6">
    <div class="card-content">
        <form action="{% url 'card_status_url' card.id%}" method="post">
            {% csrf_token %}
            Change status:
            <div class="control">
                <div class="select is-small">
                    {{ form.status }}

                </div>
            </div>

            <button class="button is-warning is-small mt-2" type="submit">Change status</button>
        </form>
    </div>
</div>


<div class="field is-grouped">
    <p class="control">
        <a href="{% url 'card_list_url' %}" class="button is-link">Card list</a>
    </p>
    <p class="control">
    <form action="{% url 'card_delete_url' card.id %}" method="post">
        {% csrf_token %}
        <button class="button is-danger">Delete card</button>
    </form>
    </p>
</div>


{% endblock %}