{% extends 'base.html' %}

{% block title %}
Card list
{% endblock %}

{% block content %}

<h1 class="title">Card list</h1>

{% include "modules/message.html" %}

{% include "modules/search-form.html" %}

<table class="table table is-fullwidth is-hoverable">
    <thead>
    <tr>
        <th>Series</th>
        <th>Number</th>
        <th>Data expiration</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for card in latest_card_list %}
    <tr>
        <th>{{ card.series }}</th>
        <td>{{ card.number }}</td>
        <td>{{ card.expiration }}</td>
        <td>
            <span class="tag
            {% if card.status == 1 %}
                is-info
            {% elif card.status == 2 %}
                is-danger
            {% elif card.status == 3  %}
                is-dark
            {% endif %}
            ">
                {{ card.get_status_display }}
            </span>
        </td>
        <td>
            <div class="field is-grouped">
                <p class="control">
                    <a href="{% url 'card_detail_url' card.id %}" class="button is-primary">
                        Detail
                    </a>
                </p>
            </div>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% include "modules/paginate.html" %}

{% endblock %}