{% if messages %}
<article class="message">
    <div class="message-body">
        {% for message in messages %}
            {% if message.tags %}
                <div>{{ message }}</div>
            {% else %}
                <div>{{ message }}</div>
            {% endif %}
        {% endfor %}

    </div>
</article>
{% endif %}