<nav class="pagination is-right" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1&search={{ request.GET.search }}" class="pagination-previous">First</a>
    <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" class="pagination-previous">Previous</a>
    {% endif %}

    <ul class="pagination-list">

        <li>
            <a class="pagination-link is-current" aria-current="page">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </a>
        </li>
    </ul>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}" class="pagination-next">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}" class="pagination-next">Last</a>
    {% endif %}

</nav>