<form action="{% url 'card_search_url' %}" method="get" class="mb-6">
    <div class="columns">
        <div class="column is-three-fifths">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="search" value="{{ request.GET.search }}" required placeholder="Find by series, number, expiration, status">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field is-grouped">
                <p class="control">
                     <button class="button is-success" type="submit">Search</button>
                </p>
                <p class="control">
                     <a href="/cards" class="button is-info" type="submit">Reset</a>
                </p>
            </div>
        </div>
    </div>
</form>